<div class="saving">
    <h1 mat-dialog-title>Sauvegarde du dessin</h1>
    <mat-form-field appearance="fill" floatLabel="floatLabelControl.value">
        <mat-label>Nom du dessin</mat-label>
        <input #name (change)="this.changeName(name.value)" matInput placeholder="Ex: Forêt Boréal" />
    </mat-form-field>

    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
                placeholder="Tags du dessin:"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)"
            />
        </mat-chip-list>
        <mat-hint>Pas d'espace, Max 15 charactères</mat-hint>
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-stroked-button [disabled]="isSaveButtonDisabled" id="save" (click)="addDrawing()" mat-dialog-close>Sauvegarder</button>
        <button mat-button mat-dialog-close>Annuler</button>
    </div>
</div>
