.saving {
    display: flex;
    flex-flow: column;

    height: 110%;
    width: auto;
}

.chip-list {
    padding-bottom: 30px;
}

.maxTags-notification {
    text-transform: uppercase;
}

.longTag-notification {
    color: red;
}
