<div id="lineAttributes">
    <h2 class="toolName">{{ lineService.name }}</h2>
    <app-slider
        title="Épaisseur Ligne"
        [min]="lineService.minToolWidth"
        [max]="lineService.maxToolWidth"
        [step]="1"
        [value]="toolWidth"
        (valueChange)="handleLineWidthChange($event)"
    ></app-slider>

    <app-slider
        title="Diamètre Point Jonction"
        [min]="lineService.minToolWidth"
        [max]="lineService.maxToolWidth"
        [step]="1"
        [value]="dotWith"
        (valueChange)="handleDotWidthChange($event)"
    ></app-slider>
</div>
<mat-checkbox (change)="handleJunctionPointChange($event.checked)">Afficher jonction</mat-checkbox>
