<div id="circleAttributes">
    <h2 class="toolName">{{ circleService.name }}</h2>
    <app-slider
        title="Épaisseur Contour"
        [min]="circleService.minBorderWidth"
        [max]="circleService.maxBorderWidth"
        [step]="1"
        [value]="toolWidth"
        (valueChange)="handleBorderWidthChange($event)"
    ></app-slider>
    <div class="radioContainer">
        <label>
            <input type="radio" name="typeOfFill" value="fillWithBorder" />
            <p>Plein avec contour</p>
        </label>
        <label>
            <input type="radio" name="typeOfFill" value="fillWithoutBorder" />
            <p>Plein</p>
        </label>
        <label>
            <input type="radio" name="typeOfFill" value="borderWithoutFill" />
            <p>Contour</p>
        </label>
    </div>
</div>
