#circleAttributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.toolName {
    margin: 5px;
}

.radioContainer {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
}

label {
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
}
