<div class="container">
    <app-sidebar></app-sidebar>
    <app-attribute-panel></app-attribute-panel>
    <div id="workSpace">
        <app-drawing class="drawing" tabindex="0" [canvasSize]="canvasSize"></app-drawing>

        <div
            id="verticalCanvasResizePoint"
            class="canvasResizePoint"
            [ngStyle]="{ 'top.px': canvasSize.y - 3, 'left.px': canvasSize.x / 2 - 3 }"
            (mousedown)="resizeDrawingService.onMouseDown($event)"
            (mouseup)="resizeDrawingService.onMouseUp()"
        ></div>
        <div
            id="horizontalCanvasResizePoint"
            class="canvasResizePoint"
            [ngStyle]="{ 'top.px': canvasSize.y - 9, 'left.px': canvasSize.x - 3 }"
            (mousedown)="resizeDrawingService.onMouseDown($event)"
            (mouseup)="resizeDrawingService.onMouseUp()"
        ></div>
        <div
            id="verticalAndHorizontalCanvasResizePoint"
            class="canvasResizePoint"
            [ngStyle]="{ 'top.px': canvasSize.y / 2 - 15, 'left.px': canvasSize.x - 3 }"
            (mousedown)="resizeDrawingService.onMouseDown($event)"
            (mouseup)="resizeDrawingService.onMouseUp()"
        ></div>
    </div>
</div>
