.container {
    height: 100%;
    display: flex;
}

#workSpace {
    background-color: #3b3737;
    overflow: auto;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
  