.container {
    height: 100%;
    display: flex;
    background-color: #3b3737;
}

.drawing-container {
    overflow: auto;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}
  