#brushAttributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 5px 0 5px;
}

#patterns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#patterns label {
    margin: 0 10px 0 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cfcfcf;
    width: 100%;
    margin: 0;
}

.toolName {
    margin: 5px;
}
//Code below inspired by an answer on Stackoverflow: https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons

/* HIDE RADIO */
input[type='radio'] {
    display: none;
}

/* IMAGE STYLES */
[type='radio'] + img {
    cursor: pointer;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

/* CHECKED STYLES */
[type='radio']:checked + img {
    outline: 2px solid black;
}
