<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">edit</mat-icon>
                Dessiner
            </ng-template>
            <app-drawing-detail></app-drawing-detail>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">bubble_chart</mat-icon>
                Divers
            </ng-template>
            <app-general-detail></app-general-detail>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>
