<div class="exporting">
    <h1 mat-dialog-title>Exportation du dessin</h1>
    <p><img id="image" [src]="imagesrc" height="200px" width="300px" *ngIf="imagesrc !== ''" /></p>
    <div>
        <label>Fichier: </label>
        <mat-form-field class="name" appearance="fill">
            <mat-label>Nom du dessin</mat-label>
            <input #name (change)="this.changeName(name.value)" matInput placeholder="Ex: Forêt Boréal" />
        </mat-form-field>
    </div>

    <div>
        <label>Filtre</label>
        <div class="radioContainer">
            <input type="radio" name="typeOfFilter" [value]="filterStyles.NONE" (change)="this.changeFilter($event)" checked />
            <label>Aucun filtre</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.BLACK_AND_WHITE" (change)="this.changeFilter($event)" />
            <label>Noir et blanc</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.SEPHIA" (change)="this.changeFilter($event)" />
            <label>Sephia</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.SATURATE" (change)="this.changeFilter($event)" />
            <label>Saturer</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.INVERT" (change)="this.changeFilter($event)" />
            <label>Inverser</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.BLUR" (change)="this.changeFilter($event)" />
            <label>Embrouiller</label>
        </div>
    </div>
    <label>Exporter en: </label>
    <div class="radioContainer">
        <input type="radio" name="typeOfFile" [value]="0" (change)="this.getImageUrl($event)" checked />
        <label>PNG</label>
        <input type="radio" name="typeOfFile" [value]="1" (change)="this.getImageUrl($event)" />
        <label>JPG</label>
    </div>
    <div></div>

    <button mat-button id="export" (click)="exportLocally()" mat-dialog-close>Exporter</button>
    <button mat-button mat-dialog-close>Annuler</button>
</div>
