<div #exportModal class="exporting">
    <h1>Exportation du dessin</h1>
    <p><img id="image" [src]="imagesrc" height="200px" width="300px" *ngIf="imagesrc !== ''" /></p>
    <div>
        <form class="export" autocomplete="off" [formGroup]="ownerForm">
            <label>Fichier: </label>
            <mat-form-field appearance="fill">
                <mat-label>Nom du dessin</mat-label>
                <input
                    matInput
                    #name
                    type="text"
                    id="name"
                    [required]="true"
                    formControlName="name"
                    (keyup)="this.changeName(name.value)"
                    placeholder="Ex: Forêt Boréal"
                />
                <mat-hint class="mat-hint">Max 15 charactères</mat-hint>
                <mat-error *ngIf="hasNameError('name', 'required')">Nom est requis</mat-error>
                <mat-error *ngIf="hasNameError('name', 'maxlength')">Nom est trop long. (max. 15 charactères)</mat-error>
            </mat-form-field>
        </form>
    </div>

    <div>
        <label>Filtre</label>
        <div class="radioContainer" >
            <input type="radio" name="typeOfFilter" [value]="filterStyles.NONE" (change)="this.changeFilter($event)" checked />
            <label>Aucun filtre</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.BLACK_AND_WHITE" (change)="this.changeFilter($event)" />
            <label>Noir et blanc</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.SEPHIA" (change)="this.changeFilter($event)" />
            <label>Sephia</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.SATURATE" (change)="this.changeFilter($event)" />
            <label>Saturer</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.INVERT" (change)="this.changeFilter($event)" />
            <label>Inverser</label>
            <input type="radio" name="typeOfFilter" [value]="filterStyles.BLUR" (change)="this.changeFilter($event)" />
            <label>Embrouiller</label>
        </div>
    </div>

    <label>Format d'exportation</label>
    <div class="radioContainer">
        <select name="extension" (change)="this.getImageUrl($event)" [value]='0' >
            <option [value]='0'> PNG </option>
            <option [value]='1'> JPEG </option>
        </select>
    </div>
    <div>
      <!--  Réference : https://stackoverflow.com/questions/55752234/how-to-validate-email-address-from-a-mat-inputangular-material -->
      <!--  Tiré de stackOverFlow  -->
      <!--  Jun 10 at 9:13  -->
        <label> email</label><br>
        <form
        [formGroup]="userForm"
        #formDirective="ngForm"
      >
        <div class="form-control">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email Address</mat-label>
            <input
            matInput 
            autocomplete="off"
            placeholder="votre_email@polymtl.ca" 
            type="email" 
            [(ngModel)]= "this.emailAddress"
              formControlName="email"
              class="form-input-field"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            >
            <mat-error *ngIf="userForm.get('email')?.hasError('required')"
              > Email est requis </mat-error
            >
            <mat-error *ngIf="userForm.get('email')?.hasError('email')"
              >Entrer un courriel valide s'il vous plait
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
    <button mat-button id="export" (click)="exportLocally()">Exporter sur ordinateur</button>
    <button mat-button id="sendMail" (click)="sendMail()">Envoyer par email</button>
    <button mat-button mat-dialog-close>Fermer</button>

</div>
