.container {
    height: 75vh;
    width: 150px;
    background-color: #f0f0f0;
    padding: 0 5px 0 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#color-picker {
    background-color: #f0f0f0;
    height: 25vh;
    padding: 0 5px 0 5px;
}
