<div class="attribute-panel">
    <div class="container" *ngIf="toolSelectionService.currentTool">
        <app-pencil-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.PENCIL_TOOL_NAME">
        </app-pencil-attributes>
        <app-brush-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.BRUSH_TOOL_NAME">
        </app-brush-attributes>
        <app-square-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.SQUARE_TOOL_NAME">
        </app-square-attributes>
        <app-circle-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.CIRCLE_TOOL_NAME">
        </app-circle-attributes>
        <app-line-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.LINE_TOOL_NAME"> </app-line-attributes>
        <app-fill-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.FILL_TOOL_NAME"> </app-fill-attributes>
        <app-eraser-attributes *ngIf="toolSelectionService.currentTool.name === toolSelectionService.toolNames.ERASER_TOOL_NAME">
        </app-eraser-attributes>
    </div>
    <div id="color-picker">
        <app-color-picker></app-color-picker>
    </div>
</div>
