:host {
    flex: 1;
}
.carousel {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.search {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.mat-child1 {
    border: 5px solid black;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.mat-child {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.image {
    height: 200px;
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
}

.remove {
    text-transform: uppercase;
    color: red;
}

//Arrows inspired from https://medium.com/showpad-engineering/angular-animations-lets-create-a-carousel-with-reusable-animations-81c0dd8847e8
.control {
    border: none;
    background-color: transparent;
    outline: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: black;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

    &:hover,
    &:focus {
        opacity: 1;
    }

    &.next {
        right: 0;
    }
    &.prev {
        left: 0;
    }
}

h3 {
    margin-bottom: 5px;
}

.arrow {
    display: block;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
    width: 0.5em;
    height: 0.5em;

    &.left {
        transform: rotate(45deg);
    }
    &.right {
        transform: rotate(225deg);
    }
}

.tags-card {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.mat-dialog-container {
    width: auto;
    height: auto;
}

.mat-parent {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: auto;
    width: auto;
    padding: 2em;
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
}
.slider {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.slide:hover {
    transform: scale(1.025);
}
