canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas {
    z-index: 0;
    background-color: #ffffff;
    border-bottom: 3px;
    border-right: 3px;
    border-top: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #3b3737;
}

#drawCanvas {
    z-index: 1;
}

#canvas-container {
    position: relative;
}
