<div id="slider">
    <hr class="topBorder" />
    <p>{{ title }}</p>
    <mat-slider [min]="min" [max]="max" [step]="step" [(value)]="value" (change)="this.changeValue()"> </mat-slider>
    <div id="sliderDetails">
        <input type="text" [(value)]="value" (change)="this.changeValue()" [min]="min" [max]="max" readonly />
        <div>
            <button (click)="decrementToolWidth()">-</button>
            <button (click)="incrementToolWidth()">+</button>
        </div>
    </div>
    <hr class="bottomBorder" />
</div>
