#pipetteAttributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.toolName {
    margin: 10px;
    align-items: center;
}
#zoom {
    background-color: #ffffff;
    border-style: solid;
    border-color: rgb(73, 85, 95);
    border-radius: 30px;
}
