<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title> Outils </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel *ngFor="let basicTool of basicTools" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ basicTool.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ basicTool.description }}</p>
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let toolGroup of toolGroups" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ toolGroup.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ toolGroup.description }}</p>

        <mat-expansion-panel *ngFor="let tool of toolGroup.dependance" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ tool.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ tool.description }}</p>
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title> Manipulation </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel *ngFor="let transformation of transformations" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> {{ transformation.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ transformation.description }}</p>
    </mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel *ngFor="let feature of otherFeatures" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ feature.name }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ feature.description }}</p>
</mat-expansion-panel>
