<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Outils </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel *ngFor="let basicTool of basicTools">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ basicTool.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ basicTool.description }}</p>
        <img class="animated-gif" src="{{ basicTool.picture }}" />
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> Outils de tracage </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let drawingTool of drawingTools" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ drawingTool.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ drawingTool.description }}</p>
            <img class="animated-gif" src="{{ drawingTool.picture }}" />
        </mat-expansion-panel>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> Forme </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel *ngFor="let shape of shapes" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ shape.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ shape.description }}</p>
            <img class="animated-gif" src="{{ shape.picture }}" />
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel *ngFor="let feature of otherFeatures">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ feature.name }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ feature.description }}</p>
    <img class="animated-gif" src="{{ feature.picture }}" />
</mat-expansion-panel>
