<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title> Outils </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel *ngFor="let basicTool of basicTools" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ basicTool.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ basicTool.description }}</p>
        <img class="animated-gif" src="{{ basicTool.picture }}" />
    </mat-expansion-panel>

    <mat-expansion-panel *ngFor="let toolGroup of toolGroups" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ toolGroup.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ toolGroup.description }}</p>
        <img class="animated-gif" src="{{ toolGroup.picture }}" />

        <mat-expansion-panel *ngFor="let tool of toolGroup.dependance" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ tool.name }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ tool.description }}</p>
            <img class="animated-gif" src="{{ tool.picture }}" />
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-expansion-panel>

<mat-expansion-panel *ngFor="let feature of otherFeatures" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ feature.name }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ feature.description }}</p>
    <img class="animated-gif" src="{{ feature.picture }}" />
</mat-expansion-panel>
