* {
    margin: none;
    padding: none;
}

header {
    background-image: url(../../../assets/img/Background_img3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 98vh;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

#ContinueButton {
    display: none;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.title-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}

.title-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.title-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.title-text a:hover {
    background: #fff;
    color: #333;
}
