* {
    margin: none;
    padding: none;
}

.main-page {
    background-image: url(../../../assets/img/Background_img.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center center;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

#ContinueButton {
    display: none;
}

.nav-area {
    align-self: flex-end;
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1170px;
    padding: 3%;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.title-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.title-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.title-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.title-text a:hover {
    background: #fff;
    color: #333;
}

li a {
    cursor: pointer;
}
