<div class="container">
    <h1 class="header-item">{{ title }}</h1>

    <button class="button">Ouvrir le carrousel de dessins</button>
    <button class="button" routerLink="/editor">Créer un nouveau dessin</button>

    <button mat-button (click)="openUserguide()">Afficher le guide d’utilisation</button>


    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>Coequipier #1, Coequipier #2, Coequipier #3, Coequipier #4, Coequipier #5, Coequipier #6</p>
    </div>
</div>
