<div id="polygoneAttributes">
    <h2 class="toolName">{{ polygoneService.name }}</h2>
    <app-slider
        title="Épaisseur Contour"
        [min]="polygoneService.minBorderWidth"
        [max]="polygoneService.maxBorderWidth"
        [step]="1"
        [value]="toolWidth"
        (valueChange)="changeBorderWidth($event)"
    ></app-slider>
    <app-slider
        title="Nombre de points"
        [min]="polygoneService.minNumberOfSides"
        [max]="polygoneService.maxNumberOfSides"
        [step]="1"
        [value]="numberOfSides"
        (valueChange)="changeNumberOfSides($event)"
    ></app-slider>
    <app-type-of-fill-selection (valueChange)="changeFillStyle($event)" [currentFillStyle]="this.fillStyle"></app-type-of-fill-selection>
</div>
