<div class="sidebar">
    <div class="sidebarSection">
        <mat-icon class="material-icons">add</mat-icon>
    </div>

    <div class="toggleButtonGroup sidebarSection">
        <input type="radio" id="pen" name="tool" value="pen" />
        <label for="pen">
            <mat-icon class="material-icons">create</mat-icon>
        </label>
        <input type="radio" id="brush" name="tool" value="brush" />
        <label for="brush">
            <mat-icon class="material-icons">brush</mat-icon>
        </label>
        <input type="radio" id="eraser" name="tool" value="eraser" />
        <label for="eraser">
            <mat-icon class="fas fa-eraser"></mat-icon>
        </label>
        <input type="radio" id="crop_square" name="tool" value="crop_square" />
        <label for="crop_square">
            <mat-icon class="material-icons">crop_square</mat-icon>
        </label>
        <input type="radio" id="panorama_fish_eye" name="tool" value="panorama_fish_eye" />
        <label for="panorama_fish_eye">
            <mat-icon class="material-icons">panorama_fish_eye</mat-icon>
        </label>
        <input type="radio" id="timeline" name="tool" value="timeline" />
        <label for="timeline">
            <mat-icon class="material-icons">timeline</mat-icon>
        </label>
    </div>

    <div class="sidebarSection">
        <!-- <mat-icon class="material-icons">grid_on</mat-icon>
        <mat-icon class="material-icons">content_paste</mat-icon>
        <mat-icon class="material-icons">import_export</mat-icon> -->
        <mat-icon class="material-icons">help</mat-icon>
        <mat-icon class="material-icons">undo</mat-icon>
        <mat-icon class="material-icons">redo</mat-icon>
    </div>
</div>
