.sidebar {
    height: 100vh;
    width: 76px;
    align-items: center;
    justify-content: space-between;
    background-color: #3b3737;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
}

.sidebarSection {
    display: flex;
    flex-flow: row wrap;
}

.topDivider {
    border-top: #c9c9c9;
    border-top-style: solid;
    border-top-width: 1px;
}

.bottomDivider {
    border-bottom: #c9c9c9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.material-icons {
    cursor: pointer;
    padding: 7px;
    color: #f5f5f5;
}

.toggleButtonGroup label {
    display: block;
}

.toggleButtonGroup label:hover {
    background-color: #dbdada;
    .material-icons {
        color: black;
    }
}

.toggleButtonGroup input[type='radio'] {
    display: none;
}

.toggleButtonGroup input[type='radio']:checked + label {
    background-color: #f0f0f0;
    .material-icons {
        color: black;
    }
}

#undo {
    opacity: 0.5;
    cursor: not-allowed;
}

#redo {
    opacity: 0.5;
    cursor: not-allowed;
}

@media screen and (max-height: 380px) {
    .material-icons {
        font-size: 4vh;
    }

    .mat-icon {
        height: auto;
        width: auto;
    }
}
