<div class="sidebar">
    <mat-icon class="material-icons">add</mat-icon>

    <div class="toggleButtonGroup">
        <input type="radio" id="pen" name="tool" value="pen">
        <label for="pen">
            <mat-icon class="material-icons">create</mat-icon>
        </label>
        <input type="radio" id="shapes" name="tool" value="shapes">
        <label for="shapes">
            <mat-icon class="material-icons">change_history</mat-icon>
        </label>
        <input type="radio" id="eraser" name="tool" value="eraser">
        <label for="eraser">
            <mat-icon class="fas fa-eraser"></mat-icon>
        </label>
    </div>

    <mat-icon class="material-icons">grid_on</mat-icon>
    <mat-icon class="material-icons">content_paste</mat-icon>
    <mat-icon class="material-icons">import_export</mat-icon>
    <mat-icon class="material-icons">help</mat-icon>
    <mat-icon class="material-icons">undo</mat-icon>
    <mat-icon class="material-icons">redo</mat-icon>
</div>