<div class="sidebar">
    <div class="sidebarSection bottomDivider">
        <mat-icon
            type="newDrawing"
            class="material-icons sidebarSectionTop"
            [matTooltip]="elementDescriptions.NEW_DRAWING_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            (click)="openDialog()"
            >add</mat-icon
        >
    </div>

    <div class="toggleButtonGroup sidebarSection">
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.PENCIL_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.PENCIL_TOOL_NAME"
            (change)="onToolChange($event)"
            checked
        />
        <label [for]="toolSelectionService.toolNames.PENCIL_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.PENCIL_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >create
            </mat-icon>
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.BRUSH_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.BRUSH_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.BRUSH_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.BRUSH_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >brush</mat-icon
            >
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.SQUARE_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.SQUARE_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.SQUARE_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.SQUARE_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >crop_square</mat-icon
            >
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.CIRCLE_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.CIRCLE_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.CIRCLE_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.CIRCLE_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >panorama_fish_eye</mat-icon
            >
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.LINE_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.LINE_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.LINE_TOOL_NAME">
            <mat-icon
                class="material-icons"
                [matTooltip]="elementDescriptions.LINE_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
                >timeline</mat-icon
            >
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.FILL_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.FILL_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.FILL_TOOL_NAME">
            <mat-icon
                class="fas fa-fill-drip"
                [matTooltip]="elementDescriptions.FILL_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
            ></mat-icon>
        </label>
        <input
            type="radio"
            [id]="toolSelectionService.toolNames.ERASER_TOOL_NAME"
            name="tool"
            [value]="toolSelectionService.toolNames.ERASER_TOOL_NAME"
            (change)="onToolChange($event)"
        />
        <label [for]="toolSelectionService.toolNames.ERASER_TOOL_NAME">
            <mat-icon
                class="fas fa-eraser"
                [matTooltip]="elementDescriptions.ERASER_TOOL_DESCRIPTION"
                matTooltipPosition="right"
                [matTooltipShowDelay]="tooltipShowDelay"
            ></mat-icon>
        </label>
    </div>

    <div class="sidebarSection">
        <mat-icon
            class="material-icons"
            [matTooltip]="elementDescriptions.CAROUSEL_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            mat-button
            (click)="openCarouselWindow()"
            >collections</mat-icon
        >
        <mat-icon
            class="material-icons"
            [matTooltip]="elementDescriptions.SAVE_DRAWING_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            mat-button
            (click)="openSaveWindow()"
            >save</mat-icon
        >
        <mat-icon
            class="material-icons"
            [matTooltip]="elementDescriptions.HELP_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            mat-button
            (click)="openUserguide()"
            >help</mat-icon
        >
        <mat-icon
            class="material-icons"
            [matTooltip]="elementDescriptions.UNDO_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            (click)="this.undoRedoService.undo()"
            >undo</mat-icon
        >
        <mat-icon
            class="material-icons"
            [matTooltip]="elementDescriptions.REDO_DESCRIPTION"
            matTooltipPosition="right"
            [matTooltipShowDelay]="tooltipShowDelay"
            (click)="this.undoRedoService.redo()"
            >redo</mat-icon
        >
    </div>
</div>
