.sidebar {
    height: 100vh;
    align-items: center;
    background-color:#3B3737;
    display: flex;
    flex-flow: column;
}

.sidebarSection{
    border-bottom:#c9c9c9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-flow: column;
}

.material-icons {
    cursor: pointer;
    padding: 7px;
    color: #F5F5F5;
}

.toggleButtonGroup label {
    display: block;
}

.toggleButtonGroup label:hover {
    background-color: #e6e6e6;
    .material-icons {
        color: black;
    }
}

.toggleButtonGroup input[type="radio"] {
    display: none;
}
  
.toggleButtonGroup input[type="radio"]:checked+label {
    background-color: #f0f0f0;
    .material-icons {
        color: black;
    }
}