#squareselectionAttributes {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.toolName {
    margin: 5px;
}

.alignment {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 2px;
}

.alignmentTitle {
    margin-top: 10px;
}
