.radioContainer {
    margin-top: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
}

.title {
    margin-bottom: 0;
    font-size: 12px;
}

.typeOfFill {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

label {
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
}
