<div class="typeOfFill">
    <p class="title">Type de tracé</p>
    <div class="radioContainer">
        <label>
            <input type="radio" name="typeOfFill" value="fillWithBorder" checked />
            <p>Plein avec contour</p>
        </label>
        <label>
            <input type="radio" name="typeOfFill" value="fillWithoutBorder" />
            <p>Plein</p>
        </label>
        <label>
            <input type="radio" name="typeOfFill" value="borderWithoutFill" />
            <p>Contour</p>
        </label>
    </div>
</div>
